_site
_plugins
_data
_drafts
.sass-cache
.jekyll-metadata

assets/css/fonts/adobe-fonts/SourceSansVariable-Italic/Sources/*
assets/css/fonts/adobe-fonts/SourceSansVariable-Italic/Webfont/*.html

assets/css/fonts/adobe-fonts/SourceSansVariable-Roman/Sources/*
assets/css/fonts/adobe-fonts/SourceSansVariable-Roman/Webfont/*.html

assets/css/fonts/adobe-fonts/SourceSerifVariable-Roman/Sources/*
assets/css/fonts/adobe-fonts/SourceSerifVariable-Roman/Webfont/*.html

assets/css/fonts/google-fonts/Alegreya/Sources/*
assets/css/fonts/google-fonts/Alegreya/Webfont/*.html

assets/css/fonts/google-fonts/Lobster/Sources/*
assets/css/fonts/google-fonts/Lobster/Webfont/*.html

assets/css/fonts/google-fonts/Lobster_Two/Sources/*
assets/css/fonts/google-fonts/Lobster_Two/Webfont/*.html

assets/css/fonts/google-fonts/Playfair_Display/Sources/*
assets/css/fonts/google-fonts/Playfair_Display/Webfont/*.html

assets/css/fonts/google-fonts/Tangerine/Sources/*
assets/css/fonts/google-fonts/Tangerine/Webfont/*.html

assets/css/fonts/google-fonts/Source_Sans_Pro/Sources/*
assets/css/fonts/google-fonts/Source_Sans_Pro/Webfont/*.html

assets/css/fonts/fontawesome

assets/macshell

assets/sass
assets/sass/.sass-cache

assets/json

assets/thirdparts/animate

assets/thirdparts/css-loader/examples
assets/thirdparts/css-loader/src

assets/thirdparts/dropotron/demo

assets/thirdparts/highlight/

assets/thirdparts/socialshare
